<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Application', new_bsm_oa_application_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <h1>Applications</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.uid') %></th>
      <th><%= t('.secret') %></th>
      <th><%= t('.callback_url') %></th>
      <th><%= t('.permissions') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <%= render 'application', application: application %>
  <% end %>
  </tbody>
</table>
